* {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir', 'Helvetica', sans-serif;
  color: #464646;
  width: 100%;
  max-width: 600px;
  margin: 15px auto;
  padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

strong {
  font-weight: 500;
}

hr {
  border: none;
  border-bottom: 1px dashed rgb(179, 179, 179);
  margin: 30px 0;
}

.stats {
  font-style: italic;
  font-weight: 500;
  color: #000;
}
